head
	title= title
	meta(name='viewport', content='width=device-width, initial-scale=1.0', charset='UTF-8')
	base(href='/')
	link(rel='shortcut icon', href='/img/favicon.ico' sizes='32x32')
	title Manifest	
		link(href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css")
	link(rel='stylesheet', href='/css/vendor/foundation.min.css')
	link(rel='stylesheet', href='/css/vendor/onepage-scroll.css')		
	link(rel='stylesheet', href='/css/main.css')
	include ./scripts.jade
