head
	title= title
	meta(name='viewport', content='width=device-width, initial-scale=1.0', charset='UTF-8', property='fb:admins')
	base(href='/')
	link(rel='shortcut icon', href='/img/favicon.ico' sizes='32x32')
	title MagicReporting
	link(rel='stylesheet', href='/css/vendor/foundation.min.css')
	link(rel='stylesheet', href='/css/main.css')
	include ./scripts.jade
