script(src="/js/vendor/jquery.js")
script(src="/js/vendor/jquery.onepage-scroll.min.js")
script(src="/js/angular/angular.min.js")
script(src="/js/angular/angular-route.min.js")
script(src='/js/foundation/foundation.min.js')  
script(src='/js/vendor/modernizr.js')  
script(src='/js/vendor/countUp.js')  
script(src='/js/main.js')
