extends ./layout.jade

block content
	.center-land
		.row
			.large-12.columns.landing
				.landlogo
					img(src='img/logo.png', height='210px', width='210px')
					.landname PROJECT NAME
					.landdesc Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					.landdesc
						a(href='/login')
							button.landbutton get started with dropbox
								
