extends ./layout.jade

block content
	.content
		.row
			.large-3.columns
			.large-6.large-centered.columns
				img.logo(src='img/logo.png')
				a(href='/login')
					img.button(src='img/login_btn.png')
			.large-3.columns
