extends ./layout.jade

block content
	.center-land
		.row
			.large-12.columns.landing
				.landlogo
					img(src='img/logo.png', height='210px', width='210px')
				.landname MANIFEST
				.landdesc An analytical manifest of your Dropbox usage - delivered to you, safely. Made at Dropbox London Hackathon 2015. 
				.landdesc
					a(href='/login')
						button.landbutton Get started with Dropbox
